.breadcrumb {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    li {
        // don't create a side
        text-overflow: ellipsis;
        overflow-x: hidden;
        a {
            &:after {
                padding-left: 10px;
                font-family: "FontAwesome";
                content: "\f105";
                font-weight: bold;
            }
        }
        &:not(:first-child) {
            @media (min-width: 600px) {
                padding-left: 10px;
            }
        }
    }
}